// Подключение шрифта
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

// Задаем шрифт по умолчанию через переменную для nullstyle
$fontfamily: "Roboto";

// Подключение файла обнуляющих стилей
@import "_nullstyle";

// ОБЩИЕ ПАРАМЕТРЫ===================================

// Оболочка
.wraper{
	overflow: hidden;
	min-height: 100%;
}

// Основная сетка - контейнер (в этом сайте только в приветствии и подвале)
.container{
	max-width: 1130px;
	padding: 0px 15px;
	margin: 0 auto;
}

// Стили для всей страницы
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	
	flex-direction: column;
}

// Подключение файла стилей для шапки
@import "_header";


.main-screen {
	background: url('../img/movies/main_screen.jpg') 50% 0/cover no-repeat;
	flex: 1 0 100%;
	position: relative;

	@media (max-width: 767px) {
		background: url('../img/movies/main_screen_mini.jpg') 50% 0/cover no-repeat;
	}
}

.content {
	
}

.hello {
	text-align: center;
	background-color: rgb(216, 228, 228);
	
	&__title {
		color: rgb(37, 69, 95);
		font-size: 32px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 35px 0 30px 0;
		font-family: 'Courier New', Courier, monospace;
	}

	&__text {
		color: rgb(24, 45, 63);
		font-size: 24px;
		line-height: 30px;
		padding: 0 0 30px 0;
	}
}

.movies {
	background-color: rgb(207, 207, 207);

	&__row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		//row-gap: 3%;
		
	}
	&__row:hover .movies__pic{
		transform: rotateY(-180deg);
	}

	&__pic {
		flex: 0 1 50%;
		text-align: center;
		& img{
			max-width: 100%;
			max-height: 100%;
			padding: 1%;
		}
		position: relative;
		transition: all 1s ease 0.1s;
		transform-style: preserve-3d;
		height: 400px;
	}

	&__pic-post,
	&__pic-screen {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	&__pic-post{
		z-index: 2;
		backface-visibility: hidden;
	}
	&__pic-screen{
		transform: rotateY(-180deg);
		backface-visibility: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		
		@media (max-width: 750px) {
		width: 90vw;
		top: 50%;
		left: 50%;
		transform: rotateY(-180deg) translateY(-45%) translateX(50%);
		}
	}
}

.movies-b {
	background-color: rgba(207, 190, 190, 0.904);
}

.block {
	flex: 0 1 50%;
	text-align: center;
	padding: 0 3vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	
	&__title {
		color: rgb(24, 45, 63);
		text-transform: uppercase;
		font-weight: 900;
		font-size: 24px;
		margin: 10% 0 30px 0;
		letter-spacing: 5px;
		
		@media (max-width: 750px) {
			margin-top: 3%;
		}
	}

	&__icon {
		margin-bottom: 10px;
		
		& img {
			outline: 1px #ffffff77 solid;
			padding: 3px;
		}
		
	}
	
	&__info {
		font-weight: 400;
		font-size: 18px;
		margin-bottom: 10px;
		text-align: center;
		text-indent: 20px;
		line-height: 28px;
		
		@media (max-width: 750px) {
			width: 90vw;
		}
	}

	&__button-open {
		padding: 1% 10%;
		background-color: rgb(1, 117, 117);
		color: aliceblue;
		border: 1px #ffffff77 solid;
		box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		margin-bottom: 10px;
		display: none;
	}

	&__info-2 {
		font-weight: 400;
		font-size: 18px;
		text-align: justify;
	}
}

.footer {
	background-color: rgb(216, 228, 228);
	
	&__link {
		text-align: center;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-transform: uppercase;
		padding: 30px;
				
		& img {
			height: 40px;
			width: 40px;
		}
		
		//&::before{
		//	content: ' ';
		//	background: url('../img/tg-logo.png') left no-repeat;
		//}
	}

	&__dev {
		font-size: 20px;
		text-align: center;
		padding: 0 0 30px 0;
	}
}

